.quiz{
    border: 5px solid yellowgreen;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
}

.quiz h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
